@use "../../styles/mixins";
@use "../../styles/variables";

.welcome-logged-intro {
  @include mixins.flex-row;
  align-items: baseline;
  justify-content: center;
  margin: 10px 5px;
}

.welcome-logged-user-name {
  font-weight: 600;
}

.welcome-logged-app-name {
  margin-left: 5px;
  font-size: 30px;
  font-weight: 700;
  color: variables.$active-purple;
}

.welcome-logged_actions {
  display: flex;
  justify-content: center;
}
