@use "variables";
@use "mixins";

.dashboard-page {
  @include mixins.page_styling;
  flex-direction: column;
}

.dashboard-element {
  @include mixins.flex-row;
  margin: 20px auto;
  height: fit-content;
  width: 80%;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: variables.$white;
  box-shadow: 10px 5px 5px #888686;
  justify-content: space-between;
}

.stats_container {
  @include mixins.flex-column;
  align-items: center;
  margin: auto;
}

.stats-overview_wrapper {
  @include mixins.flex-row;
  align-items: center;
}
