@use "../../../styles/variables";
@use "../../../styles/mixins";

.elevator-item_wrapper {
  background-color: variables.$white;
  box-shadow: 10px 5px 5px variables.$gray;
  margin: 10px auto;
  border-radius: 20px;
  padding: 20px 40px;
  width: 70%;
  user-select: none;
  cursor: pointer;
}

.elevator-item_wrapper:hover {
  box-shadow: 10px 5px 5px #646464;
}

.elevator-item {
  @include mixins.flex-row;
  align-items: center;
  margin: 5px 0px;

  .elevator-item_label {
    font-size: 20px;
    font-weight: 500;
    color: variables.$gray;
  }

  .elevator-item_value {
    font-size: 20px;
    font-weight: 700;
  }
}

.elevator-item_reporter {
  @include mixins.flex-row;
  float: right;
  color: variables.$gray;
}
